<% 
	# Quellcode setzt den Java-Scriptcode für die Anzeige der Marker zusammen. Der Grundaufbau des JavaScript-Codes wurde aus einem CloudMade-Beispiel
	# herausgenommen. Der Ruby-Code ist allerdings eine Eigenentwicklung, was man ihm leider auch ansieht. 
	@motions = Motion.all
	
	markerstring = "var "
	addLayerstring = "map"
	bindPopupstring = ""
	
	@motions.each do |motion|
		markerstring += 'marker' + motion.id.to_s + ' = new L.Marker(new L.LatLng(' + motion.latitude.to_s + ', ' + motion.longitude.to_s + ')), '
		
		bindPopupstring += 'marker' + motion.id.to_s + '.bindPopup("<b>' + motion.title.to_s + '</b><br><a href=\"motions/' + motion.id.to_s + '\">Zeige!</a>"); '
		
		addLayerstring += '.addLayer(marker' + motion.id.to_s + ')'
	end
	
	markerstring = markerstring.chop.chop
	
	markerstring += ';'
	
	addLayerstring += ';'
%>

	<div id="map" style="width: 600px; height: 400px"></div>

	<script src="http://cdn.leafletjs.com/leaflet-0.3.1/leaflet.js"></script>
	<script>
		var map = new L.Map('map');

		var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/22677/256/{z}/{x}/{y}.png',
			cloudmadeAttribution = 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade',
			cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution});

		map.setView(new L.LatLng(50.586, 8.683), 13).addLayer(cloudmade);


		<%=	markerstring.html_safe %>

		<%=	bindPopupstring.html_safe %>

		<%=	addLayerstring.html_safe %>
	</script>

<form class="well form-search" action="/search" method="post">
    <input name="searchstring" type="text" class="input-medium search-query">
    <button type="submit" class="btn">Search</button>
</form>

